# Node / Next.js
node_modules/
.next/
out/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env y secretos
.env
.env.*
!.env.example

# SO / editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Builds
*.tar
*.zip
